@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Change Password Page";
    Layout = "_MainLayout";
}

<h1>Change Password</h1>

<h4>Password</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form action="/Dashboard/Account/ChangePass" method="post">
            <div class="form-group">
                <label name="Email" class="control-label">Email</label>
                <input name="Email" class="form-control" id="email" type="email" />
            </div>
            <div class="form-group">
                <label name="OldPassword" class="control-label">Old Password</label>
                <input name="OldPassword" class="form-control" id="oldPassword" type="password"/>
            </div>
            <div class="form-group">
                <label name="NewPassword" class="control-label">New Password</label>
                <input name="NewPassword" class="form-control" id="newPassword" type="password" />
            </div>
            <div class="text-center">
                <input class="btn btn-primary btn-user btn-block" value="Change Password" type="submit" />
            </div>
        </form>
    </div>
</div>