@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Leave Request Page";
    Layout = "_MainLayout";
}

<h1>New Leave Request</h1>

<h4>Leave Request</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form action="/Dashboard/NewLeaveReq" method="post">
            <div class="form-group">
				<label for="leaveType" class="form-label">Leave Type</label>
				<select id="leaveType" class="form-select">
					<option selected>Choose...</option>
					<option value="1">Cuti Sakit</option>
					<option value="2">Cuti Hamil</option>
                    <option value="3">Cuti Penting</option>
			    </select>
			</div>
            <div class="flex-row d-flex justify-content-center">
                <div class="col-lg-6 col-11 px-1">
                    <div class="input-group input-daterange">
                        <input type="text" id="start" class="form-control text-left mr-2">
                        <label class="ml-3 form-control-placeholder" id="start-p" for="start">Start Date</label>
                        <span class="fa fa-calendar" id="fa-1"></span>
                        <input type="text" id="end" class="form-control text-left ml-2">
                        <label class="ml-3 form-control-placeholder" id="end-p" for="end">End Date</label>
                        <span class="fa fa-calendar" id="fa-2"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label name="reason" class="control-label">Reason</label>
                <input name="reason" id="reason" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Request" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/js/Leave/NewLeaveRequest.js"></script>
}
